
// Settings SASS from \App\Helpers\Upload::resourceInit();

$primary: #0023c4;
$warning: #ff5cf4;
$dark: #000000;
$secondary: #859cb1;
$light: #eceff1;
$light-light: #fafafa;
$transition: .5;
$path-img: '/img';
$xs: 0;
$ss: 379px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
